body {
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px #000;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.movie-card {
  background-color: #2c2c2c;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.7);
}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-card .movie-info {
  padding: 15px;
}

.movie-card h3 {
  margin: 0;
  font-size: 20px;
  color: #ffcc00;
}

.movie-card p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #ccc;
}

.movie-detail {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);

  max-width: 500px; /* уменьшили ширину */
  margin: 40px auto; /* центрирование и отступ сверху/снизу */
}

.movie-detail img {
  width: 100%;
  height: 600px; /* уменьшили высоту картинки */
  object-fit: cover;
  border-radius: 12px;
}
.back-button {
  display: inline-block;
  margin-top: 15px;
  color: #ffcc00;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.back-button:hover {
  text-decoration: underline;
}
